# Archivos compilados de Java
*.class

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno y credenciales
.env
*.env

# Logs
*.log
# Carpeta de compilación de Java
bin/